#card{
    width:90%;
    margin:25px auto;
  }
  mat-card{
    margin:1px;
  }
  .cardData1{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr;
    grid-gap:2em;
    grid-auto-rows: auto;
  }
  #cardData2{
    color:rgb(118,122,119);
  }
  
  nb-card {
    margin:1px;
  }
 #header{
   margin-top: 1.5rem;
 } 