<nb-card id="header">
  <nb-card-header>
    <div class="cardData1">
      <div> <h2>2 Notes </h2></div>
      <div></div>
      <div></div>
      <div (click)="openWindow1()"> ADD NEW</div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="cardData1" id="cardData2">
      <div>CREATOR NAME</div>
      <div>DESCRIPTION</div>
      <div>ACTIVITY DATE</div>
      <div></div>
    </div>
  </nb-card-body>
</nb-card>


<nb-card *ngFor="let hero of heroes">
  <nb-card-body>
    <div class="cardData1" id="cardData3">
      <div>{{hero.creator_name}}</div>
      <div>{{hero.description}}</div>
      <div>{{hero.date}} </div>
      <div><nb-icon icon="edit-outline" (click)="openWindow()"> </nb-icon></div>
    </div>
  </nb-card-body>
</nb-card>
 

