<!--<li *ngFor="let invoice of invoice_data">
  {{invoice.totalAmount}}
</li>-->

<div class="mat-elevation-z8 data-table">
  <table mat-table [dataSource]="dataSource" matSort>
  
  
  
  
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef>S.NO </th>
      <td mat-cell *matCellDef="let item; let i = index">
        {{ ((paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1))|number: '2.0-0' }}
     </td>
    </ng-container>
  
  
    <ng-container matColumnDef="documentSequenceCode">
      <th mat-header-cell *matHeaderCellDef>NUMBER</th>
      <td mat-cell *matCellDef="let element"> {{element.documentSequenceCode}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="validTillDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>QUOTE DATE</th>
      <td mat-cell *matCellDef="let element"> {{element.validTillDate}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TOTAL_AMOUNT</th>
      <td mat-cell *matCellDef="let element"> SGD {{element.totalAmount | number: '1.2-2'}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="fulfillmentStatus">
      <th mat-header-cell *matHeaderCellDef>FULLFILLMENT</th>
      <td mat-cell *matCellDef="let element"> {{element.fulfillmentStatus}} </td>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>ACTION</th>
      <td mat-cell *matCellDef="let element"> INVOICE 
        <span class="dropdown">
          <nb-icon icon="more-vertical" class="dropbtn" > </nb-icon> 
          
            <!--<a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>-->
            <ul class="dropdown-content">
              <li>Fullfill</li>
              <li>Print</li>
              <li><span (click)="openWindow(element)" >Email</span> </li>
              <li>Close</li>
            </ul>
          
        </span>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #edf0f7; font-size: medium;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    fxFlex="100"
    #paginatorRef
    [length]="10"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons>
</mat-paginator>
  
  </div>

  <ng-template #contentTemplate let-data>
    <!-- <p>Here is the text provided via config: "{{ data.text }}"</p>
    <form  [formGroup]="mailData" >
       <div class="form-group">
        <label for="senderId">To</label>
        <input type="text" id="senderId" formControlName="sender" class="form-control">
      </div>
      <div class="form-group">
        <label for="mailsubject">Subject</label>
        <input type="text" id="mailsubject"formControlName="subject" class="form-control">
      </div>
      <div class="form-group">
        <label for="mailbody">Body</label>
        <textarea id="mailbody" cols="30" rows="10" formControlName="body" class="form-control"></textarea>
      </div>


      <button class="btn btn-primary" (click)="close()">Send</button>
      <button class="btn btn-primary" (click)="close()">Cancel</button>
    </form> -->

    
  </ng-template>
