<div id="overview">
  <div id="header-box-top">
    <ng-container *ngIf="cont">
    <span *ngIf="prod_type; else elseBlock" id="class-box" style="margin: 10px; margin-left: 20px; font-weight: 900; font-size: xx-large;">{{cont.inventory.availableQuantity}}</span>
    </ng-container>
    <ng-template #elseBlock><span id="class-box" style="margin: 10px; margin-left: 20px; font-weight: 900; font-size: xx-large;">N/A</span></ng-template>
    <p id="data-box" style="font-size: small; color: gray; margin-left: 20px;">Available Quantity</p>
  </div>
  <div id="header-box">
    <span style="font-size: small; color: gray; margin: 10px; margin-left: 20px;">SGD</span><span style=" font-weight: 900; font-size: xx-large;">20.00</span>
    <p style="font-size: small; color: gray; margin-left: 20px;">Average Cost</p>
  </div>
  <div id="header-box">
    <span style="margin: 10px; margin-left: 20px; font-weight: 900; font-size: xx-large;">100.00</span>
    <p style="font-size: small; color: gray; margin-left: 20px;">Total Value</p>
  </div>
  <div id="header-box">
    <span style="margin: 10px; margin-left: 20px; font-weight: 900; font-size: xx-large;"> {{commitedQuotes | async}}</span>
    <p style="font-size: small; color: gray; margin-left: 20px;">in Commited Quotes</p>
  </div>
  <div id="header-box-last">
    <span style="margin: 10px; margin-left: 20px; font-weight: 900; font-size: xx-large;">{{quantityOrder | async}}</span>
    <p style="font-size: small; color: gray; margin-left: 20px;">Quantity on Order</p>
  </div>
</div>

<div class="gridclass">
  <div id="left_box">
    <div id="box_title_top"> 
     <div id="title_content">
      <b>General </b> 
     </div>
    </div>
    <!-- <div id="box_title_top"> 
      <div id="title_content"   *ngFor="let contid of contId | async">
       <b>{{1}}</b> 
      </div>
     </div> -->
    <div id="box_content">
      <ng-container *ngIf="cont">
      <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Type</span> <span style="font-weight: 600;">{{cont.type}}</span> </div>
      <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Code</span> <span style="font-weight: 600;">{{cont.productId}}</span> </div>
      <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Barcode</span> <span style="font-weight: 600;">{{cont.barcode}}</span> </div>
    </ng-container> 
    </div>

  <div id="box_title"> 
    <div id="title_content">
     <b>Buy  </b> 
    </div>
   </div>
  <div  id="box_content">
    <ng-container *ngIf="cont">
      <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Purchase Account</span> <span style="font-weight: 600;">{{purchaseAccount | async}}</span> </div>
      <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Purchase Price</span> <span style="font-weight: 600;">{{cont.purchasePrice}}</span> </div>
    <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Purchase Tax</span> <span style="font-weight: 600;">{{tax_purchase | async}}</span> </div>
    <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Purchase is tax inclusive </span> <span *ngIf="purchase_tax==true" style="font-weight: 600;">Yes</span> <span *ngIf="purchase_tax==false" style="font-weight: 600;">No</span> </div>
    </ng-container></div>

  <div id="box_title"> 
    <div id="title_content">
     <b>Sell</b> 
    </div>
   </div>
   <div *ngIf="prod_type">
    <div id="box_content">
      <ng-container *ngIf="cont">
        <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Sales Account</span> <span style="font-weight: 600;">{{salesAccount |async}}</span> </div>
        <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Sales Price</span> <span style="font-weight: 600;">{{cont.salesPrice}}</span> </div>
      <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Sales Tax</span> <span style="font-weight: 600;">{{tax_sales | async}}</span> </div>
      <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Sales is tax inclusive </span> <span *ngIf="sales_tax==true" style="font-weight: 600;">Yes</span> <span *ngIf="sales_tax==false" style="font-weight: 600;">No</span> </div>
      </ng-container></div>  
   </div>
   <div *ngIf="!prod_type">
    <div id="box_content_last">
      <ng-container *ngIf="cont">
        <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Sales Account</span> <span style="font-weight: 600;">{{salesAccount |async}}</span> </div>
        <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Sales Price</span> <span style="font-weight: 600;">{{cont.salesPrice}}</span> </div>
      <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Sales Tax</span> <span style="font-weight: 600;">{{tax_sales | async}}</span> </div>
      <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Sales is tax inclusive </span> <span *ngIf="sales_tax==true" style="font-weight: 600;">Yes</span> <span *ngIf="sales_tax==false" style="font-weight: 600;">No</span> </div>
    </ng-container></div>  
   </div>
  <div *ngIf="prod_type">
    <div id="box_title"> 
      <div id="title_content">
      <b>Tracked Inventory</b> 
      </div>
    </div>
    <div id="box_content">
      <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Unit of Measurement</span> <span style="font-weight: 600;">Box</span> </div>
      <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Cost of Goods Sold</span> <span style="font-weight: 600;">{{trackedCost |async}} </span> </div>
      <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Inventory Account</span> <span style="font-weight: 600;">{{trackedInventory |async}} </span> </div>
      <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Stock Adjustment Account</span> <span style="font-weight: 600;">{{trackedStock |async}} </span> </div>
     </div>  

  <div id="box_title"> 
    <div id="title_content">
     <b>Opening Balance </b> 
    </div>
   </div>
   <div id="box_content_last">
    <ng-container *ngIf="cont">
    <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Opening Quantity</span> <span style="font-weight: 600;">{{cont.inventory.openingQuantity}}</span> </div>
    <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Opening Valuation</span> <span style="font-weight: 600;">{{cont.inventory.openingValuation}}</span> </div>
    </ng-container></div>  
  </div>
</div>
  <div id="right_box">
    <!-- <mat-card class="matcard1">
      <mat-card-header>
        <div  class="example-header-image"></div>
      </mat-card-header>
      <img mat-card-image [src]="image_add" alt="Image of product"> -->

    <!-- </mat-card> -->
    <div id="box_image">
      <img id="imgP" [src]="image_add" alt="Image of product">
    </div>

   <div id="box_content">
    <ng-container *ngIf="cont">
    <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Name</span> <span style="font-weight: 700;"> {{cont.name}}</span> </div>
    <div id="content"> <span style=" margin-right: 15px; font-weight: 700;">Description</span> <p  style="font-weight: 550;">{{cont.description}}</p> </div>
    <div id="content"> <span style=" margin-right: 15px; font-weight: 700;">Distance</span> <p  style="font-weight: 400; "></p> </div>
    <div id="content"> <span style=" margin-right: 15px; font-weight: 700;">Durability</span> <p  style="font-weight: 400; "></p> </div>
    </ng-container></div>

  <div id="box_title"> 
    <div id="title_content">
     <b>Other Details</b> 
    </div>
   </div>
   <div id="box_content_last">
    <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Last Cost Price</span> <span style="font-weight: 600;"> {{lastPur |async}}</span> </div>
    <div id="content"> <span style="color: gray; margin-right: 15px; font-weight: 550;">Last Sales Price</span> <span style="font-weight: 600;">{{lastSales |async}} </span> </div>
  </div>
  </div>
  
</div>
